<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News NLP Analysis Tool</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <h1>News NLP Analysis Tool</h1>
        <form id="urlForm">
            <label for="URI">Analyze a News Article URL:</label>
            <input type="text" id="URI" name="URI" placeholder="Enter a valid URL">
            <button type="submit">Analyze Now</button>
        </form>
        <div id="error" style="color: red;"></div>
        <div id="sentimentResult"></div>
    </div>
    <script src="bundle.js"></script>
</body>
</html>
