<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News NLP Analysis Tool</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <p>News NLP Analysis Tool</p>
    </header>

    <div class="container">

        
        <div class="form-box">
            <h1>News NLP Analysis Tool</h1>
            <form id="urlForm">
           
                <input type="text" id="URI" name="URI" width="100%" placeholder="Enter a valid URL">
                <button type="submit">Analyze Now</button>
            </form>
            <div id="error" style="color: red;"></div>

            <div class="results" id="sentimentResult">
            
            </div>

        </div>
        
    </div>
    <footer><p>By @Alaa_Shubita</p></footer>

    <script src="bundle.js"></script>
</body>
</html>
