header {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
    background: #3a102a; /* Dark pink background */
    color: #fff; /* White text */
}
